<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Page Title</title>
</head>
<body>

<div class="container-fluid " style="height: 100%" th:replace="content">
    <div class="container" th:fragment="content"></div>
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12 col-form-label">
            <h1 class="page-header">
                12312312 <small>Statistics Overview</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>s
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">

    </div>
    <!-- /.row -->


    <!-- /.row -->


    <!-- /.row -->


    <!-- /.row -->

</div>

</body>
</html>