<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>这里是title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--global styles-->
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrapDemo/css/components.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrapDemo/css/custom.css}"/>
    <!--&lt;!&ndash; end of global styles&ndash;&gt;-->
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrapDemo/vendors/c3/css/c3.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrapDemo/vendors/toastr/css/toastr.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrapDemo/vendors/switchery/css/switchery.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrapDemo/css/pages/new_dashboard.css}"/>
    <!--<link type="text/css" rel="stylesheet"  href="#" id="skin_change"/>-->
</head>

<body class="body">
<div class="preloader" style=" position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  backface-visibility: hidden;
  background: #ffffff;">
    <div class="preloader_img" style="width: 200px;
  height: 200px;
  position: absolute;
  left: 48%;
  top: 48%;
  background-position: center;
z-index: 999999">
        <img th:src="@{/bootstrapDemo/img/loader.gif}" style=" width: 40px;" alt="loading...">
    </div>
</div>
<div id="wrap">
    <div id="top">
        <!--&lt;!&ndash; .navbar &ndash;&gt;-->
        <nav class="navbar navbar-static-top">
            <div class="container-fluid m-0">
                <a class="navbar-brand float-left" href="index.html">
                    <h4>Hello word</h4>
                </a>
                <div class="menu">
                    <span class="toggle-left" id="menu-toggle">
                        <i class="fa fa-bars"></i>
                    </span>
                </div>
                <div class="topnav dropdown-menu-right float-right">
                    <div class="btn-group hidden-md-up small_device_search" data-toggle="modal"
                         data-target="#search_modal">
                        <i class="fa fa-search text-primary"></i>
                    </div>
                    <div class="btn-group">
                        <a class="dropdown-item" href="login2.html"><i class="fa fa-sign-out"></i>
                            Log Out</a>
                    </div>

                </div>
            </div>

        </nav>
    </div>

    <div class="wrapper">
        <div id="left">
            <div class="menu_scroll">
                <ul id="menu">
                    <li class="active">
                        <a href="index.html">
                            <i class="fa fa-home"></i>
                            <span class="link-title menu_hide">&nbsp;Dashboard 1</span>
                        </a>
                    </li>
                    <li class="dropdown_menu">
                        <a href="javascript:;">
                            <i class="fa fa-anchor"></i>
                            <span class="link-title menu_hide">&nbsp; 这是个一级标签</span>
                            <span class="fa arrow menu_hide"></span>
                        </a>
                        <ul>
                            <li>
                                <a href="这里是a标签">
                                    <i class="fa fa-angle-right"></i>
                                    &nbsp; 这是个二级菜单
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>

            </div>
        </div>

        <div id="content" class="bg-container">
            <header class="head">
                <div class="main-bar">
                    <div class="row no-gutters">
                        <div class="col-6">
                            <h4 class="m-t-5">
                                <i class="fa fa-home"></i>
                                Dashboard
                            </h4>
                        </div>
                    </div>
                </div>
            </header>
            <div class="outer">
                <div id="index" class="inner bg-container">

                    <h1> 这里是主页</h1>
                    <span th:value="${#authentication}"></span>




                </div>

            </div>


            <div class="modal fade" id="search_modal" tabindex="-1" role="dialog" aria-hidden="true">
                <form>
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="float-right" aria-hidden="true">&times;</span>
                            </button>
                            <div class="input-group search_bar_small">
                                <input type="text" class="form-control" placeholder="Search..." name="search">
                                <span class="input-group-btn">
        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
      </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="request_list">
        <div class="request_scrollable">
            <ul class="nav nav-tabs m-t-15">
                <li class="nav-item">
                    <a class="nav-link active text-center" href="#settings" data-toggle="tab">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="#favourites" data-toggle="tab">Favorites</a>
                </li>
            </ul>

        </div>
    </div>

    <div id="right">
        <div class="right_content">
            <div class="well-small dark m-t-15">
                <div class="row m-0">
                    <div class="col-lg-12 p-d-0">
                        <h3>我真的不知道怎么取消它了,所以我就放开她了</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a id="baseUrl" th:href="@{/}"></a>
<!--&lt;!&ndash; /#wrap &ndash;&gt;-->
<script type="text/javascript" th:src="@{/jquery-3.3.1/jquery-3.3.1.min.js}"
       ></script>

<script type="text/javascript" th:src="@{/bootstrapDemo/js/components.js}"></script>
<script type="text/javascript" th:src="@{/bootstrapDemo/js/custom.js}"></script>

<script type="text/javascript" th:src="@{/bootstrapDemo/vendors/slimscroll/js/jquery.slimscroll.min.js}"
        ></script>
<script type="text/javascript" th:src="@{/bootstrapDemo/vendors/raphael/js/raphael-min.js}"
        ></script>
<script type="text/javascript" th:src="@{/bootstrapDemo/vendors/d3/js/d3.min.js}"
        ></script>
<script type="text/javascript" th:src="@{/bootstrapDemo/vendors/c3/js/c3.min.js}"
        ></script>
<script type="text/javascript" th:src="@{/bootstrapDemo/vendors/toastr/js/toastr.min.js}"
        ></script>
<script type="text/javascript" th:src="@{/bootstrapDemo/vendors/switchery/js/switchery.min.js}"
        ></script>
<script type="text/javascript" th:src="@{/bootstrapDemo/vendors/flotchart/js/jquery.flot.js}"
        ></script>
<script type="text/javascript" th:src="@{/bootstrapDemo/vendors/flotchart/js/jquery.flot.resize.js}"
        ></script>
<script type="text/javascript" th:src="@{/bootstrapDemo/vendors/flotchart/js/jquery.flot.stack.js}"
        ></script>
<script type="text/javascript" th:src="@{/bootstrapDemo/vendors/flotchart/js/jquery.flot.time.js}"
        ></script>
<script type="text/javascript" th:src="@{/bootstrapDemo/vendors/flotspline/js/jquery.flot.spline.min.js}"
        ></script>
<script type="text/javascript" th:src="@{/bootstrapDemo/vendors/flotchart/js/jquery.flot.categories.js}"
        ></script>
<script type="text/javascript" th:src="@{/bootstrapDemo/vendors/flotchart/js/jquery.flot.pie.js}"
        ></script>
<script type="text/javascript" th:src="@{/bootstrapDemo/vendors/flot.tooltip/js/jquery.flot.tooltip.min.js}"
        ></script>
<script type="text/javascript" th:src="@{/bootstrapDemo/vendors/jquery_newsTicker/js/newsTicker.js}"
        ></script>
<script type="text/javascript" th:src="@{/bootstrapDemo/vendors/countUp.js/js/countUp.min.js}"
        ></script>

<!--<script type="text/javascript" th:src="@{/bootstrapDemo/js/pages/new_dashboard.js}"
        src="/bootstrapDemo/js/pages/new_dashboard.js"></script>-->



<script>


$(function () {
    var baseUrl = $('#baseUrl').val();
    console.log("测试测试");
    $.ajax({
        url: baseUrl +"/getAuthentication"
    }).then(function (res) {
        console.log(res);
    })
})

</script>
</body>
</html>
