<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!-- href="css/login.css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" >
    <!--<link rel="stylesheet" type="text/css" href="/css/login.css">-->
    <!--<link rel="stylesheet" type="text/css" href="../static/css/login.css">-->
</head>
<body>
<form class="login-page" th:action="@{/login}" method="post">
    <div class="form">
        <h3>账户登录</h3>
        <input type="text" placeholder="用户名" name="username" required="required"/>
        <input type="password" placeholder="密码" name="password" required="required"/>
        <button type="submit">登录</button>
    </div>
</form>
</body>
</html>